<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <!-- Header Section -->
      <header>
        <h1><a href="index.html" id="title">{title}</a></h1>
        <p id="description">{description}</p>
      </header>
      <!-- Posts Section -->
      <main>
        <h2>Posts</h2>
        <div id="posts">{posts}</div>
      </main>

      <!-- Footer Section -->
      <footer></footer>
    </div>
  </body>
</html>
