<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>{postTitle}</title>
  </head>
  <body>
    <div class="container">
      <!-- Header Section -->
      <header>
        <h1><a href="../index.html" id="title">{title}</a></h1>
        <h1>{postTitle}</h1>
        <div id="date">{date}</div>
      </header>

      <!-- Post Content Section -->
      <main>
        <article>
          <div id="content">{content}</div>
        </article>
      </main>

      <!-- Footer Section -->
      <footer></footer>
    </div>
  </body>
</html>
