<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>{postTitle}</title>
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <nav class="navbar">
        <a href="../index.html" id="navbar-title">{title}</a>
      </nav>
    </header>

    <!-- Main Content Section -->
    <main>
      <div class="content">
        <h1>{postTitle}</h1>
        <div id="date">{date}</div>
        <article>
          <div id="content">{content}</div>
        </article>
      </div>
    </main>

    <!-- Footer Section -->
    <footer></footer>
  </body>
</html>
